.col-centered {
    float: none;
    margin: 0 auto;
}

.chart-canv {
    width: 100%;
    height: auto;
}

.half-1 {
/*    padding-left: 100px;*/
    width: 50%;
    float: left;
}

.half-2 {
/*    padding-right: 100px;*/
    width: 50%;
    float: right;
}

.top-buffer { margin-top:50px; }

.row-fix {
    margin-left: 0px;
    margin-right: 0px;
}