.col-centered {
    float: none;
    margin: 0 auto;
}

.chart-canv {
    width: 100%;
    height: auto;
}

.half-1 {
/*    padding-left: 100px;*/
    width: 50%;
    float: left;
}

.half-2 {
/*    padding-right: 100px;*/
    width: 50%;
    float: right;
}

.top-buffer { margin-top:50px; }
.bottom-buffer { margin-bottom:50px;}

.row-fix {
    margin-left: 0px;
    margin-right: 0px;
}

/*hover stuff*/

.thumbnail {
    position:relative;
    overflow:hidden;
}
 
.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(66, 139, 202, 0.75);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}

.foot-p {
    margin: 10px;
}