<!doctype html>
<html>

    <head>
        <title>Insta-insights of "{{ username }}"</title>
        <script src="{{ url_for('static', filename='js/Chart.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery-2.1.3.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/numeric-1.2.6.min.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/likes.css') }}">
    </head>

<body>

<div class="row">
    <div class="col-lg-1 col-centered">
        <h1> {{ username }} </h1>
    </div>
</div>

<!-- # of likes over account lifetime
(line chart) -->
<div class="row top-buffer">
    <h4 class="text-center"> Likes Over Account Lifetime </h4>
    <div>
        <canvas class="chart-canv" id="myChart1"></canvas>
    </div>
</div>

<!-- average # of likes throughout the day (group_by hour)
(line chart) -->

<!-- average # of likes by set of people tagged in the photo or caption
(bar chart) -->
<!-- <div class="row top-buffer">
    <div>
        <canvas class="chart-canv" id="myChart2"></canvas>
    </div>
</div> -->

<!-- # of comments, likes
(pie chart) -->
<!-- <div class="row top-buffer">
    <div class="half-1">
        <canvas class="chart-canv-sm" id="myChart3" ></canvas>
    </div>
    <div class="half-2">
        <canvas class="chart-canv-sm" id="myChart4" ></canvas>
    </div>
</div> -->

<!-- average # of likes by # of comments
(bar chart) -->

<!-- average # of likes by # of words in caption
(bar chart) -->

<!-- average # of likes by # of hashtags in caption
(bar chart) -->




</body>

</html>

<script type="text/javascript">
// Get context with jQuery - using jQuery's .get() method.
var ctx1 = $("#myChart1").get(0).getContext("2d");

var likes = '{{ likes }}';
// process to remove brackets and spaces
likes = likes.substring(1, likes.length - 1).replace(/,/g, '');
console.log(likes);
var likes_int = likes.split(' ').map(Number)

var times = '{{ times }}';
// process to remove brackets and spaces
times = times.substring(1, times.length - 1).replace(/,/g, '');
console.log(times);
var times_int = times.split(' ').map(Number)

var data1 = {
    labels: times_int,
    datasets: [
        {
            label: "Likes_over_pics",
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: likes_int
        }
    ]
};

var myLineChart = new Chart(ctx1).Line(data1, {
    // bezierCurve: false
    // showTooltips: true,
    multiTooltipTemplate: "<%= value %>"
});

// var ctx2 = $("#myChart2").get(0).getContext("2d");
// var data2 = {
//     labels: ["January", "February", "March", "April", "May", "June", "July"],
//     datasets: [
//         {
//             label: "My First dataset",
//             fillColor: "rgba(220,220,220,0.5)",
//             strokeColor: "rgba(220,220,220,0.8)",
//             highlightFill: "rgba(220,220,220,0.75)",
//             highlightStroke: "rgba(220,220,220,1)",
//             data: [65, 59, 80, 81, 56, 55, 40]
//         },
//         {
//             label: "My Second dataset",
//             fillColor: "rgba(151,187,205,0.5)",
//             strokeColor: "rgba(151,187,205,0.8)",
//             highlightFill: "rgba(151,187,205,0.75)",
//             highlightStroke: "rgba(151,187,205,1)",
//             data: [28, 48, 40, 19, 86, 27, 90]
//         }
//     ]
// };
// var myBarChart = new Chart(ctx2).Bar(data2);

// var ctx3 = $("#myChart3").get(0).getContext("2d");
// var data3 = [
//     {
//         value: 300,
//         color:"#F7464A",
//         highlight: "#FF5A5E",
//         label: "Red"
//     },
//     {
//         value: 50,
//         color: "#46BFBD",
//         highlight: "#5AD3D1",
//         label: "Green"
//     },
//     {
//         value: 100,
//         color: "#FDB45C",
//         highlight: "#FFC870",
//         label: "Yellow"
//     }
// ]
// var myDoughnutChart = new Chart(ctx3).Doughnut(data3);

// var ctx4 = $("#myChart4").get(0).getContext("2d");
// var data4 = [
//     {
//         value: 200,
//         color:"#F7464A",
//         highlight: "#FF5A5E",
//         label: "Red"
//     },
//     {
//         value: 70,
//         color: "#46BFBD",
//         highlight: "#5AD3D1",
//         label: "Green"
//     },
//     {
//         value: 15,
//         color: "#FDB45C",
//         highlight: "#FFC870",
//         label: "Yellow"
//     }
// ]
// var myDoughnutChart2 = new Chart(ctx4).Doughnut(data4);
</script>